#ext_menu-10 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-10.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-10 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-10 .mbr-navbar__hamburger {
  color: #ffffff;
}
#msg-box2-6 .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-6 .mbr-article {
  color: #252525;
}
#msg-box2-7 .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-7 .mbr-article {
  color: #252525;
}
#msg-box2-8 .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-8 .mbr-article {
  color: #252525;
}
#msg-box2-f .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-f .mbr-article {
  color: #252525;
}
#ext_menu-10 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-10.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-10 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-10 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-10 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-10.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-10 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-10 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-10 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-10.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-10 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-10 .mbr-navbar__hamburger {
  color: #ffffff;
}
#msg-box5-k .mbr-header__text {
  color: #ffffff;
}
#msg-box5-k .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-k .mbr-article {
  color: #ffffff;
}
#msg-box5-l .mbr-header__text {
  color: #ffffff;
}
#msg-box5-l .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-l .mbr-article {
  color: #ffffff;
}
#msg-box5-m .mbr-header__text {
  color: #ffffff;
}
#msg-box5-m .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-m .mbr-article {
  color: #ffffff;
}
#ext_menu-10 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-10.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-10 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-10 .mbr-navbar__hamburger {
  color: #ffffff;
}
#msg-box5-12 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-12 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-12 .mbr-article {
  color: #ffffff;
}
#msg-box5-11 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-11 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-11 .mbr-article {
  color: #ffffff;
}
#msg-box5-13 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-13 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-13 .mbr-article {
  color: #ffffff;
}
#ext_menu-10 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-10.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-10 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-10 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-10 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-10.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-10 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-10 .mbr-navbar__hamburger {
  color: #ffffff;
}

#ext_menu-10 {
.mbr-brand__name {
	font-size: 16px;
}
&.mbr-navbar--stuck .mbr-navbar__section {
	background: #2c2c2c;
}
.mbr-navbar__section {
	background: #2c2c2c;
}
.mbr-navbar__hamburger {
	color: #ffffff;
}
.navbar-toggler {
	color: #ffffff;
}
.close-icon::before, .close-icon::after {
	background-color: #ffffff;
}
.link, .dropdown-item {
	color: #ffffff;
}
.link {
	font-size: 0.75rem;
}
.dropdown-item, .nav-dropdown-sm .link {
	font-size: 0.812rem;
}
.link:hover, .dropdown-item:hover, .link:focus, .dropdown-item:focus {
	color: @primaryColor;
}
.link[aria-expanded="true"], .dropdown-menu {
	background: #0e0e0e;
}
.nav-dropdown-sm .link:focus, .nav-dropdown-sm .link:hover, .nav-dropdown-sm .dropdown-item:focus, .nav-dropdown-sm .dropdown-item:hover {
	background: #202020!important;
}
.navbar, .nav-dropdown-sm, .nav-dropdown-sm .link[aria-expanded="true"], .nav-dropdown-sm .dropdown-menu {
	background: #282828;
}
.bg-color.transparent .link {
	color: #ffffff;
	transition: none;
}
.bg-color.transparent.opened .link {
	transition: color .2s ease-in-out;
}
.bg-color.transparent.opened .link:hover, .bg-color.transparent.opened .link:focus {
	color: @primaryColor;
}
.link[aria-expanded="true"], .dropdown-item[aria-expanded="true"] {
	color: #c0a375!important;
}
}

#msg-box3-1 {
.mbr-header .mbr-header__text {
	text-align: center;
}
.mbr-header .mbr-header__subtext {
	text-align: center;
}
}

#header3-o {
}

#content1-p {
}

#features1-r {
.striped .mbr-cards-col:nth-child(2n+1) {
	background-color: #2e2e2e;
}
}

#content1-s {
DIV {
	text-align: left;
}
P {
	text-align: right;
}
}

#social-buttons1-4 {
.mbr-header__text {
	color: #ffffff;
}
}
#ext_menu-10 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-10.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-10 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-10 .mbr-navbar__hamburger {
  color: #ffffff;
}
