#ext_menu-10 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-10.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-10 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-10 .mbr-navbar__hamburger {
  color: #ffffff;
}
#msg-box2-6 .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-6 .mbr-article {
  color: #252525;
}
#msg-box2-7 .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-7 .mbr-article {
  color: #252525;
}
#msg-box2-8 .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-8 .mbr-article {
  color: #252525;
}
#msg-box2-f .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-f .mbr-article {
  color: #252525;
}
#ext_menu-10 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-10.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-10 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-10 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-10 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-10.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-10 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-10 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-10 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-10.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-10 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-10 .mbr-navbar__hamburger {
  color: #ffffff;
}
#msg-box5-k .mbr-header__text {
  color: #ffffff;
}
#msg-box5-k .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-k .mbr-article {
  color: #ffffff;
}
#msg-box5-l .mbr-header__text {
  color: #ffffff;
}
#msg-box5-l .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-l .mbr-article {
  color: #ffffff;
}
#msg-box5-m .mbr-header__text {
  color: #ffffff;
}
#msg-box5-m .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-m .mbr-article {
  color: #ffffff;
}
#ext_menu-10 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-10.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-10 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-10 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-10 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-10.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-10 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-10 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-10 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-10.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-10 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-10 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-10 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-10.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-10 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-10 .mbr-navbar__hamburger {
  color: #ffffff;
}
#msg-box3-1 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-1 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#content1-s DIV {
  text-align: left;
}
#content1-s P {
  text-align: right;
}
#social-buttons1-4 .mbr-header__text {
  color: #ffffff;
}
#ext_menu-10 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-10.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-10 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-10 .mbr-navbar__hamburger {
  color: #ffffff;
}
