#dropdown-menu-2btn-5 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-5 .nav .link,
#dropdown-menu-2btn-5 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-5 .navbar,
#dropdown-menu-2btn-5 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-5 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-5 .dropdown-menu a:hover,
#dropdown-menu-2btn-5 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-5 .navbar-toggler {
  color: #ffffff;
}
#msg-box2-6 .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-6 .mbr-article {
  color: #252525;
}
#msg-box2-7 .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-7 .mbr-article {
  color: #252525;
}
#msg-box2-8 .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-8 .mbr-article {
  color: #252525;
}
#msg-box2-f .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-f .mbr-article {
  color: #252525;
}
#dropdown-menu-2btn-b .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-b .nav .link,
#dropdown-menu-2btn-b .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-b .navbar,
#dropdown-menu-2btn-b .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-b .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-b .dropdown-menu a:hover,
#dropdown-menu-2btn-b .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-b .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-c .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-c .nav .link,
#dropdown-menu-2btn-c .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-c .navbar,
#dropdown-menu-2btn-c .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-c .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-c .dropdown-menu a:hover,
#dropdown-menu-2btn-c .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-c .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-d .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-d .nav .link,
#dropdown-menu-2btn-d .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-d .navbar,
#dropdown-menu-2btn-d .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-d .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-d .dropdown-menu a:hover,
#dropdown-menu-2btn-d .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-d .navbar-toggler {
  color: #ffffff;
}
#msg-box5-k .mbr-header__text {
  color: #ffffff;
}
#msg-box5-k .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-k .mbr-article {
  color: #ffffff;
}
#msg-box5-l .mbr-header__text {
  color: #ffffff;
}
#msg-box5-l .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-l .mbr-article {
  color: #ffffff;
}
#msg-box5-m .mbr-header__text {
  color: #ffffff;
}
#msg-box5-m .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-m .mbr-article {
  color: #ffffff;
}
#dropdown-menu-2btn-e .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-e .nav .link,
#dropdown-menu-2btn-e .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-e .navbar,
#dropdown-menu-2btn-e .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-e .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-e .dropdown-menu a:hover,
#dropdown-menu-2btn-e .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-e .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-t .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-t .nav .link,
#dropdown-menu-2btn-t .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-2btn-t .navbar,
#dropdown-menu-2btn-t .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-t .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-t .dropdown-menu a:hover,
#dropdown-menu-2btn-t .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-t .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-v .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-v .nav .link,
#dropdown-menu-2btn-v .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-2btn-v .navbar,
#dropdown-menu-2btn-v .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-v .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-v .dropdown-menu a:hover,
#dropdown-menu-2btn-v .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-v .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-9 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-9 .nav .link,
#dropdown-menu-2btn-9 .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-2btn-9 .navbar,
#dropdown-menu-2btn-9 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-9 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-9 .dropdown-menu a:hover,
#dropdown-menu-2btn-9 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-9 .navbar-toggler {
  color: #ffffff;
}
#msg-box3-1 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-1 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#content1-s DIV {
  text-align: left;
}
#content1-s P {
  text-align: right;
}
#social-buttons1-4 .mbr-header__text {
  color: #ffffff;
}
#dropdown-menu-2btn-9 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-9 .nav .link,
#dropdown-menu-2btn-9 .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-2btn-9 .navbar,
#dropdown-menu-2btn-9 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-9 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-9 .dropdown-menu a:hover,
#dropdown-menu-2btn-9 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-9 .navbar-toggler {
  color: #ffffff;
}
